{
  "openapi": "3.1.0",
  "info": {
    "title": "giolaq.dev API",
    "description": "Public read-only API for Giovanni Laquidara's blog posts and author information.",
    "version": "1.0.0",
    "contact": {
      "name": "Giovanni Laquidara",
      "url": "https://giolaq.dev"
    }
  },
  "servers": [
    {
      "url": "https://giolaq.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List all blog posts",
        "description": "Returns all published blog posts sorted by date (newest first).",
        "responses": {
          "200": {
            "description": "Array of blog posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{slug}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a single blog post",
        "description": "Returns a specific blog post by its URL slug, including full HTML content.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The URL slug of the blog post"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog post with full content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/author": {
      "get": {
        "operationId": "getAuthor",
        "summary": "Get author information",
        "description": "Returns bio, role, expertise areas, and social links for Giovanni Laquidara.",
        "responses": {
          "200": {
            "description": "Author information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Author"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostSummary": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "date": { "type": "string", "format": "date" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "readingTime": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "date": { "type": "string", "format": "date" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "readingTime": { "type": "string" },
          "content": { "type": "string", "description": "Full post content as HTML" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "role": { "type": "string" },
          "bio": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "avatar": { "type": "string", "format": "uri" },
          "expertise": { "type": "array", "items": { "type": "string" } },
          "social": {
            "type": "object",
            "properties": {
              "github": { "type": "string", "format": "uri" },
              "twitter": { "type": "string", "format": "uri" },
              "linkedin": { "type": "string", "format": "uri" },
              "medium": { "type": "string", "format": "uri" },
              "hashnode": { "type": "string", "format": "uri" }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
